.navbar-inverse{
	background-color:transparent!important;
	color: white;
	border:4px solid transparent !important;
}
.navbar-inverse a{
	color:white !important;
	font-weight:bold;
	font-size: 15px;
}

.dropdown-menu li{
	background-color:orange !important;
}
.dropdown-menu li a:hover{
	color:orange !important;
}
.container-fluid{
	width:100%;
	background: black;
	min-height: 150px;
	color: white;
}
